.navbar{
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  font-size: 12px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #ebebeb;
  background-color: #2b3e50;
}

.presentation{
  color: #ebebeb;
}

