.navbar{
  box-shadow: none;
  border: none;
  font-size: 12px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: white;
  /*background-color: 8d8989, #0E2F44; */
  background-color: #7c7c7c;
}

.presentation{
  color:white;
}

