// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #ebebeb;
  background-color: #2b3e50;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url(http://67.media.tumblr.com/625f7006a542f67295fe5c990e9a854c/tumblr_nl0yfzKuWZ1tkvuauo1_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  background-size: cover;
}